
#search_container
  %form{:method => 'get', :id => 'search_form'}
    = text_field :search, :url, :placeholder => t('pages.search.form_placeholder'), :id => 'search_field', :name => 'url'
    %input{:type => 'submit', :value => t('pages.search.submit_label'), :id => 'submit_button'}
  
  %p
    = t('pages.search.creator_label')
    = link_to t('pages.search.creator_link'), 'http://recursive-design.com/'
    = link_to t('pages.search.about_link'), about_path
    = link_to t('pages.search.contact_link'), contact_path

.clear