!!!
%html
  %head
    %meta{"http-equiv"=>"Content-type", :content=>"text/html;charset=utf-8"}/
    %title= title
    = render 'common/stylesheets'
    = render 'common/javascript'
    = csrf_meta_tag 
    = render 'common/analytics'
    

  %body{:id => body_id}>
    
    - if flash.length > 0
      #messages
        - flash.each do |key, value|
          .flash{:class => "#{key}"}= value
    
    .content
        
      = yield
    
